<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MemoPrintingUtility.BO.Properties.Settings.ExPostConnectionString"
            connectionString="Data Source=14.139.85.68,3339;Initial Catalog=ExPost;User ID=sa;Password=Sqlku123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>